.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
   filter: 
    drop-shadow(0 0 4px rgba(102, 204, 255, 0.9))      /* inner glow */
    drop-shadow(0 0 12px rgba(102, 204, 255, 0.75))    /* outer glow */
    drop-shadow(0 0 22px rgba(102, 204, 255, 0.45));   /* aura glow */
}
