body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at top, #eef3ff 0%, #f7f9ff 40%, #ffffff 100%);
    overflow-x: hidden;
    
}

