/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  /* background: radial-gradient(circle at top, #eef3ff 0%, #f7f9ff 40%, #ffffff 100%); */
  background: black;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Layout wrapper */
.app-layout {
  display: flex;
  flex-direction: column;
}

/* Push content down below navbar */
.main-content {
  margin-top: 80px;
  padding: 20px;
  height: 100vh;

}
