/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  /* background: radial-gradient(circle at top, #eef3ff 0%, #f7f9ff 40%, #ffffff 100%); */
  background: black;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Layout wrapper */
.app-layout {
  display: flex;
  flex-direction: column;
}

/* Push content down below navbar */
.main-content {
  margin-top: 80px;
  padding: 20px;
  height: 100%;
}


.ag-theme-quartz .ag-header {
  background: #f2f6ff !important;
}

.ag-theme-quartz .ag-header-cell-label {
  font-weight: 700 !important;
  color: #1a73e8 !important; /* Google blue */
  font-size: 14px !important;
}

.ag-theme-quartz .ag-header-cell {
  border-right: 1px solid #d6e2ff !important;
}

.ag-theme-quartz .ag-root-wrapper {
  border-radius: 10px !important;
  border: 1px solid #e0e7ff !important;
  overflow: hidden;
}


