.pageWrapper {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.pageHeader {
  text-align: center;
  margin-bottom: 25px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #555;
}

.uploadHint {
  text-align: center;
  color: #59f710;
  margin-top: 10px;
  font-size: 14px;
}

